[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Serdiuk-Serhii
	email = 114324858+Serdiuk-Serhii@users.noreply.github.com
