.clients {
  background-color: var(--main-white-color);
}
.clients__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.clients__item {

  @media screen and (max-width:1199px) {
    margin-top: 15px;
    margin-bottom: 15px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  
}

.clients__link {
  width: 210px;
  height: 92px;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid;
  border-color: var(--svg-fill);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width:768px) {
    width: 226px;
  }

  @media screen and (min-width:1200px) {
    width: 170px;
  }

  &:hover,
&:focus {
  border-color: var(--main-blue-color);
}
}



.clients__icon {
  fill: var(--svg-fill);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
.clients__link:focus & {
  fill: var(--main-blue-color);
}
}

