.header {
  background: var(--main-white-color);
  border-bottom: 1px solid;
  border-color: #ececec;
}

.header__mail {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--p-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-blue-color);
  }
}

.header__tel {
  margin-left: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--p-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--main-blue-color);
}
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .header__mail:hover &,
  .header__mail:focus & {
  fill: currentColor;
}
}



